@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: hsl(193, 38%, 86%);
    --secondary: hsl(150, 100%, 66%);
    --neutral-gray-blue: hsl(217, 19%, 38%);
    --neutral-dark-gray-blue: hsl(217, 19%, 24%);
    --neutral-dark-blue: hsl(218, 23%, 16%);
  }
}
